/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#box {
    float: left;
    height: 90px;
    margin-left: 46.473389%;
    margin-top: 30px;
    clear: none;
    width: 90px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border: 1px solid rgb(0, 0, 0);
    display: block;
    background-color: rgb(0, 0, 0);
}

#box1 {
    float: left;
    height: 60px;
    margin-left: 0%;
    margin-top: 40px;
    clear: both;
    width: 100%;
    border: 1px solid rgb(244, 244, 244);
    display: block;
}

#text:hover {
    color: rgb(96, 96, 96);
}

#text {
    float: left;
    font-size: 1em;
    width: 4.148707%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 29.727909%;
    margin-top: 1.641908%;
    clear: none;
    min-height: 16px;
    font-family: 'Varela Round';
    min-width: 0%;
}

#text1:hover {
    color: rgb(96, 96, 96);
}

#text1 {
    float: left;
    font-size: 1em;
    width: 8.378233%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 6%;
    margin-top: 21px;
    clear: none;
    min-height: 16px;
    margin-right: 0%;
    font-family: 'Varela Round';
}

#text2 {
    float: left;
    font-size: 1em;
    width: 5.536099%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 21px 0% 0px 6%;
    clear: none;
    min-height: 16px;
    font-family: 'Varela Round';
    color: rgb(96, 96, 96);
}

#image {
    float: left;
    width: 50.00000173000001px;
    max-width: none;
    height: 50.00000025999999px;
    margin: 3.328125px 0px 0px 6%;
    clear: none;
    color: rgb(0, 0, 0);
}

#text3 {
    float: left;
    font-size: 1.5em;
    width: 16.5625%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin: 50px 0px 0px 8.53%;
    clear: both;
    min-height: 26px;
    font-family: 'Varela Round';
}

#text4 {
    float: left;
    font-size: 1em;
    width: 51.11%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.0625%;
    margin-top: 22px;
    clear: both;
    min-height: 432px;
}

#image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    clear: both;
    color: rgb(0, 0, 0);
    margin-top: 276px;
    margin-left: 62.45121%;
}

@media only screen and (max-width: 1280px) {
    #box {
        margin-top: 30px;
        margin-left: 46.473389%;
        clear: none;
    }

    #box1 {
        margin-top: 40px;
        margin-left: 0%;
        clear: both;
        border-top-color: rgb(233, 233, 233);
        border-bottom-color: rgb(233, 233, 233);
        width: 100%;
        display: block;
    }

    #text {
        margin-top: 20px;
        margin-left: 30%;
        clear: none;
        height: auto;
        min-height: 16px;
        width: 5.343385%;
    }

    #text1 {
        margin-top: 20px;
        margin-left: 5.298552%;
        clear: none;
        height: auto;
        min-height: 16px;
        width: 11.307784%;
    }

    #text2 {
        margin-top: 20px;
        margin-left: 3.236251%;
        clear: none;
        height: auto;
        min-height: 16px;
        width: 6.567149%;
    }

    #image {
        margin-top: 3.328125px;
        margin-left: 4.655951%;
        clear: none;
    }

    #text3 {
        float: left;
        font-size: 1.75em;
        width: 19.466553%;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        clear: both;
        min-height: 36px;
        font-family: 'Varela Round';
    }

    #text4 {
        float: left;
        font-size: 1em;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 24.504007%;
        margin-top: 4.0625%;
        clear: both;
        min-height: 0px;
        width: 52%;
    }

    #textspan {
        float: none;
        font-size: 1em;
        line-height: 1em;
        font-family: 'Source Sans Pro';
    }

    #image1 {
        clear: both;
        margin-top: 40px;
        margin-left: 27.996726%;
        width: 40.270996%;
        height: 33.02435%;
    }
}

@media only screen and (max-width: 900px) {
    #text {
        height: auto;
        min-height: 16px;
        width: 7.248747%;
        margin-left: 22.5%;
    }

    #text1 {
        margin-left: 7%;
        height: auto;
        min-height: 16px;
        width: 13.871793%;
        margin-top: 20px;
        clear: none;
    }

    #text2 {
        margin-top: 20px;
        margin-left: 7%;
        clear: none;
        height: auto;
        min-height: 16px;
        width: 8.96758%;
    }

    #image {
        margin-top: 3.328125px;
        margin-left: 6%;
        clear: none;
    }

    #text3 {
        height: auto;
        min-height: 34px;
        width: 27.602431%;
    }

    #text4 {
        margin-top: 6.506944%;
        margin-left: 24.503472%;
        clear: both;
    }

    #image1 {
        margin-top: 40px;
        margin-left: 27.996528%;
        clear: both;
    }
}

