body {
  font-family:"Source Sans Pro";
  min-width: 406px;
  margin: 0 auto;
}

header{
text-align: center;
padding:40px 0;
}
.circlelogo{ 
    height: 100px;
    width: auto;
}
@media screen and (max-width: 823px) {
    nav {
        display: none;
    }
}

@media screen and (min-width: 823px) {
    .sidebar {
        display: none;
    }
}

.sidebar .image{
padding: 20px;}


.sidecontent {
  height: 100%;
  width: 250px; 
  background: #212121;
  margin: -20px;
  box-shadow: 1px 1px 20px #000;
  border-radius: 5px;
  margin-top: -95px;
  display: none;
}

.sidecontent ul {
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.sidecontent ul li {
  list-style: none;
  padding-top: 20px;
}

.sidecontent ul li a {
  text-decoration: none;
  color: #fafafa;
  margin-left: -40px;
  padding: 10px;
  border-radius: 20px;
	font-family: "Varela Round";
	font-size:16px;
	line-height: 40px;
}

.close {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

nav ul{
position: absolute;
}

.navigation {
    display: block;
}

.navigation ul:not(.expanded){
	width:100%;
	text-align: center;
	padding: 10px 0;
	border-top:1px solid rgba(0,0,0,.1);
	margin-top: 0px;
}

.navigation ul, .navigation li{
list-style-type: none;
margin: 0;
text-transform: uppercase;
}

.navigation ul li {
	display: inline-block;
	font-family: "Varela Round";
	font-size:16px;
	line-height: 40px;
	text-align: center
}

.navigation ul a{
color: #111;
text-decoration: none;
background-color: transparent;
padding: 0 30px 0 30px;
}

a.home:hover {
color:#666;
}

a{
color: #111;
text-decoration: none;
background: transparent;
}


.navigation ul li li{
    display:block;
    padding-top: 10px;
    line-height: 30px;
    width:180px;
	height:40px;
	z-index: 100000000000;
} 

ul#menu2 {
margin-left: -68px;}


.expanded li a{
color:#fff;
text-decoration: none;
background: transparent;
display: block;
width: auto;
height: 100%;
font-size: 14px;
line-height: 17px;
padding-top: 4px;
}
}
.clear{
clear:both;
}
/* NAVIGATION */
.dropdown ul {
	  z-index: 10000000000;
}

.dropdown:hover,
a. .dropdown {
  border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  display: block;
  height: 60px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  position: relative;
}

.dropdown:hover a.ul {
  color: #777;
  background: rgba(0, 0, 0, 0.04);
}

.dropdown li {
  width: auto;
  height: 50px;
  background: #F7F7F7;
  color: #111;
  text-align:center;
  margin: 0;
  -webkit-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transform: perspective(350px) rotateX(-90deg);
  -o-transform: perspective(350px) rotateX(-90deg);
  transform: perspective(350px) rotateX(-90deg);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	
}

.dropdown li:nth-child(even) {
  background: #242424;
}

.dropdown li:nth-child(odd) {
  background: #050505;
}

.dropdown li.n1 {
  -webkit-transition: 0.2s linear 0.8s;
  -o-transition: 0.2s linear 0.8s;
  transition: 0.2s linear 0.8s;
}

.dropdown li.n2 {
  -webkit-transition: 0.2s linear 0.6s;
  -o-transition: 0.2s linear 0.6s;
  transition: 0.2s linear 0.6s;
}

.dropdown li.n3 {
  -webkit-transition: 0.2s linear 0.4s;
  -o-transition: 0.2s linear 0.4s;
  transition: 0.2s linear 0.4s;
}

.dropdown li.n4 {
  -webkit-transition: 0.2s linear 0.2s;
  -o-transition: 0.2s linear 0.2s;
  transition: 0.2s linear 0.2s;
}

.dropdown li.n5 {
  border-radius: 0px 0px 0px 0px;
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}

.dropdown li.n6 {
  border-radius: 0px 0px 0px 0px;
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}

.dropdown:hover li {
  -webkit-transform: perspective(350px) rotateX(0deg);
  -o-transform: perspective(350px) rotateX(0deg);
  transform: perspective(350px) rotateX(0deg);
  -webkit-transition: 0.2s linear 0s;
  -o-transition: 0.2s linear 0s;
  transition: 0.2s linear 0s;
}

.dropdown:hover .n2 {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.dropdown:hover .n3 {
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.dropdown:hover .n4 {
  transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.dropdown:hover .n5 {
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.dropdown:hover .n6 {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

@media screen and (max-width: 600px) {
    article, .content, #tags {
        width:400px;
    }
}
article {
  margin: 0 auto;
  width: 465px;
  padding-top: 70px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  background-color: #fff;
}

.content{
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content h2 {
color: #555
}

.inputform{
border-top: 1px solid #e0e0e0;
margin-top: 20px;
padding-top: 20px;
text-align: left;
}

.inputform input[type="text"] {
  font-size: 14px;
  padding: 5px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
}

.inputform input[type="text"]:focus,
.inputforminput[type="text"].focus {
  border-bottom: solid 2px #969696;
}

#tags {
margin: 0 auto;
width: 400px;
}

#tags .title{
padding-left: 20px;
text-align:left;
}

#tags ul {
list-style: none;
margin: 0;
padding: 20px;
}

#tags li {
float:left;
margin:0 10px 10px 0;
}

#tags li input {
margin-right: 7px;
vertical-align: middle;
color: #444;
font-size:14px;
box-sizing: border-box;
}



.file-upload {
  background-color: #ffffff;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 50px;
}

.file-upload-btn {
  width: 100%;
  margin-top: 30px;
  color: #fff;
  background: #242424;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #111;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.file-upload-btn:hover {
  background: #444;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 2px dashed #242424;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #999;
  border: 2px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #242424;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 100px;
  margin: 0 auto;
  color: #fff;
  background: #050505;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fff;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.remove-image:hover {
  background: #242424;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.reg {
  width: 100px;
  margin: 0 auto;
  color: #fff;
  background: #050505;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #fff;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.reg:hover {
  background: #242424;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.reg:active {
  border: 0;
  transition: all .2s ease;
}

.pop{
display: none;
position: absolute;
top:60%;
left:-200px;
width:auto;
height:auto;
background: #fff;
z-index: 1000000000000000000000;
margin-left: 50%;
margin-bottom: 30px;
border: 1px solid #777
}

.pop > .pop_submit{
padding: 8px;
}

.pop > span {
  cursor: pointer;
  position: absolute;
  top: 4%;
  right: 4%;
  color: #333;
  width: 30px;
}


.clear{
width: 100%;
}

footer {
clear:both;
border-top:1px solid rgba(0,0,0,.1);
background-color:white;
padding:78px 0 72px;
}

.footer_wrapper{
box-sizing: border-box;
margin: 0 auto;
max-width: 1203px;
min-width: 310px;
padding: 0 42px;
position: relative;
width: 100%;
}
.footer_proper{
padding-right: 48px;
}
h1.footer_description{
color: #111;
font-size:17px;
line-height: 1.4;
margin: 0;
text-align: left;
}
.footer_small_text {
color:#444;
font-size: 14px;
line-height: 70%;
}
.footer_small_text p {
margin:0;
max-width: 600px;
line-height: 50px;
}
.footer_social_links{
	display: inline-block
}
.footer_social_links img{
vertical-align: bottom;
padding-left: 0;
padding-right: 10px;
}


